<footer class="bg-dark-blue ph3 pv3 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<img src="/img/exosummits-horizontal/exosummits-horizontal-white.png"
                     srcset="/img/exosummits-horizontal/exosummits-horizontal-white@2x.png 2x,
                             img/exosummits-horizontal-white@3x.png 3x">
			</div>

			<div class="fp16">
			 <a href="https://www.openexo.com" target="_blank" >OpenExO</a> ©2019  |  Transform the world for a better future
			</div>
		</div>
	</div>

</footer>

<script src="/app.js"></script>
