<footer class="bg-dark-blue ph3 pv3 white footer-wrapper">

	<div class="mw7 pt3 wp-960 center">

		<div class="flex justify-between">

			<div>
				<img src="/img/exosummits-horizontal/exosummits-horizontal-white.png">
			</div>

			<div class="fp16 text-dp">
				<a href="https://www.openexo.com" target="_blank" >OpenExO</a> ©2019  |  Transform the world for a better future
			</div>
			<div class="fp16 text-mb">
				<a href="https://www.openexo.com" target="_blank" >OpenExO</a> ©2019
			</div>
		</div>
	</div>

</footer>

<script src="/app.js"></script>
