<section id='signup'>
<div class="push-top-lg pb3 pv4 bg-orange-2 join-wrapper">
  <div class="mhn1-l center wp-960 wrapper">
    <div class=" push-bottom w-100 primary fp32 b tc">Join the ExO Summit</div>
    <div class="w-100-l mb1 flex-l justify-between">
      {{ range .Params.prices }}
        <div class="push-right-sm tc">
          <div class="join-box">
            <p class="dark-blue tc fp24 b push-bottom-sm">{{.name}}</p>
            <p class="tl fp16">{{.description | safeHTML}}</p>
            <p class="tc">Price: <span class="primary b">{{.price}}</span></p>
            <p>
          </div>
            <a href="{{.Params.buy_url}}" target="_blank" class="push-bottom push-top btn b primary bg-grey-2 w-100 w-auto-ns fp16">JOIN</a></p>
        </div>
      {{ end }}
    </div>
  </div>
  <div class="mhn1-l flex-l center wp-960 ">
    <div class="center w-80-l tc">
      Questions? <a href="mailto:{{.Params.contact_email}}" target="_blank" class="w-100 w-auto-ns fp16 link">
          Contact us
        </a>
      </div>
  </div>
</div>
</section>
