<div class="push-bottom-lg model-wrapper">
  <div class="mhn1-l center wp-960">
    <div class="w-100 primary fp32 b tc push-bottom-sm">About the ExO Model</div>
    <div class="big-body tc push-bottom">
      <p class="center">{{.about | safeHTML}}</p>
    </div>
    <div class="iframe-container">
        <iframe class="br-img"  src="https://www.youtube.com/embed/7A_89Uq1IqI" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
