<div class="pv3">
  <div class="mhn1-l center wp-960">
    <div class=" mb4 w-100 primary fp32 b tc">About the ExO Model</div>
    <div class="w-60-l mb4 flex-l tc center dark-blue">
      {{.about}}
    </div>
    <div class="w-80-l mb2 flex-l tc center">
        <iframe class="br1" width="794" height="529" src="https://www.youtube.com/embed/7A_89Uq1IqI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
