<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center wp-960 relative">

	<!-- Logo -->
	<a href="/" class="pa0 db mr4 w5 flex-none center" style='margin-top: 28px;margin-bottom: 28px;'>
                <img src="/img/exosummits-horizontal-rgb/exosummits-horizontal-rgb.png"
                     srcset="/img/exosummits-horizontal-rgb/exosummits-horizontal-rgb@2x.png 2x,
                             img/exosummits-horizontal-rgb@3x.png 3x">
	</a>
            <a href="mailto:{{.Params.contact_email}}" target='_blank' class="right primary fp16">Contact</a>
</nav>
