<div class="pb5">
  <div class="flex-l mhn1-l center wp-960">
    <div class=" mb2 w-30-l fp32 primary b">
        What you will find in this summit
        <a href="{{.Params.program}}" target="_blank" class="mt5 btn mb3 w-100 w-auto-ns mb0-ns bg-orange white fp16">
        DOWNLOAD THE PROGRAM
      </a>
    </div>
    <div class="w-70-l mb2 ml3 bg-grey-2 dark-blue br1 pv4 ph3">
        <p><i class="fas fa-check primary"></i> 4 workshops on disruption, technology in the workplace and exponential mindsets</p>
        <p><i class="fas fa-check primary"></i> 3 panel sessions conducted by featured participants</p>
        <p><i class="fas fa-check primary"></i> Presentation and analysis of case studies</p>
        <p><i class="fas fa-check primary"></i> Networking sessions</p>
    </div>
  </div>
</div>
