<section id='save'>
    <div class="mb4">
        <h4 class="f3 b lh-title mb3 tc">Save the date</h4>
        <div class="mhn1-l ph3 center mw7"><p>{{.text}}</p></div>
        <div class="mhn1-l ph3 center mw6">
            <form action="{{.saveURL}}" class="flex-ns mb3">
              <input type='hidden' value="{{.eventId}}" id='event' name='event'>
              <fieldset class="flex-auto mb2 mb0-ns mr2-ns" name="newsletter" action="newsletter-subscribe">
                <input type="text" id="email" placeholder="Your email" class="w-100">
                <label for="email">Your email</label>
              </fieldset>

              <button class="btn mb3 w-100 w-auto-ns mb0-ns raise" type="submit">Submit</button>

            </form>
        </div>
    </div>
</section>
