<section>
    <div class="bg-primary pv5">
        <div class="mhn1-l center wp-960">
          <h4 class="f3 b lh-title mb4 orange">Be the first to know about future ExOSummits</h4>
          <div class="mhn1-l ph3 mw6">
              <form action="" class="flex-ns mb3">
                <fieldset class="flex-auto mb2 mb0-ns mr2-ns" name="newsletter" action="newsletter-subscribe">
                  <input type="text" id="email" placeholder="Email" class="w-100">
                  <label for="email">email</label>
                </fieldset>
                <button class="btn mb3 w-100 w-auto-ns mb0-ns white bg-orange" type="submit">Submit</button>

              </form>
            </div>
        </div>
    </div>
</section>
