<div class="pv5">
  <div class="flex-l mhn1-l center wp-960">
    <div class=" mb2 w-40-l">
        <img src="/img/brian-kostiuk-brikost/brian-kostiuk-brikost-252865-unsplash.png"
     srcset="img/brian-kostiuk-brikost/brian-kostiuk-brikost-252865-unsplash@2x.png 2x,
             img/brian-kostiuk-brikost-252865-unsplash@3x.png 3x"
     class="boxs">
    </div>
    <div class="w-60-l mb2 ml3">
        <h2 class="f0 b lh-title fp32 primary mb3">{{.heading}}</h2>
        <div class="mb0 fp16" style="color: #46464b; line-height:1.5">{{ .text | safeHTML }}</div>
    </div>
  </div>
</div>
