<!-- Contact -->
<section id='signup'>
<div class="pv3">
  <div class="mhn1-l center wp-960">
    <div class=" mb3 w-100 primary fp32 b tc">{{.heading}}</div>
    <div class="w-100-l mb2 flex-l ">
      <form action="{{.joinURL}}" id='form-join'>
          <input type='hidden' value="{{.eventId}}" id='event' name='event'>
          <div class="w-100-l">
            <fieldset>
              <input type="text" id="name" name="name" placeholder="Name" class="w-100 mb2" required>
              <label for="name">Name</label>
          </fieldset>
          </div>
          <div class="w-100-l">
            <fieldset>
              <input type="email" id="email" name="email" placeholder="Email" class="w-100 mb2" required>
              <label for="email">Email</label>
          </fieldset>
          </div>
          <div class="ph1-l w-100-l">
          <button type="submit" class="btn bg-orange white w-100 w-auto-ns">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
</section>
