<!-- Contact -->
<section id='signup'>
<div class="mb4">
  <h4 class="f3 b lh-title mb3 tc">{{.heading}}</h4>
  <div class="mhn1-l ph3 center mw7"><p>{{.text}}</p></div>
  <div class="mhn1-l ph3 center mw7">
    <form action="{{.joinURL}}" id='form-join'>
      <input type='hidden' value="{{.eventId}}" id='event' name='event'>
      <div class="flex-l mhn1-l mw7">
        <!-- Name -->
        <div class="ph1-l w-20-l">
          <fieldset>
            <input type="text" id="name" name="name" placeholder="Name" class="w-100 mb2" required>
            <label for="name">Name</label>
          </fieldset>
        </div>
        <!-- Email -->
        <div class="ph1-l w-20-l">
          <fieldset>
            <input type="email" id="email" name="email" placeholder="Email" class="w-100 mb2" required>
            <label for="email">Email</label>
          </fieldset>
        </div>
        <div class="ph1-l w-20-l">
          <button type="submit" class="btn w-100 w-auto-ns raise">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
</section>
